<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCof2SzbTsXSYcGL76e8B7zrMWkSGfgpHw</string>
	<key>GCM_SENDER_ID</key>
	<string>433386824008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yanran.fashion-recommendation</string>
	<key>PROJECT_ID</key>
	<string>yanran-fashion-app</string>
	<key>STORAGE_BUCKET</key>
	<string>yanran-fashion-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433386824008:ios:1252d313afa0902526d37d</string>
</dict>
</plist>